# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../awesomeProject\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\checkout\go\src\awesomeProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
